PORT = 5000                                  
MONGO_DB_NAME = WealthTrackerDB               
MONGO_URI = mongodb+srv://db_user:exampleuri  
JWT_SECRET = 47c8bbbd1d8a442926eccc        
SMTP_EMAIL = noreply@example.com              
BREVO_API_KEY = xkeysib-3c1cb704cfe88d2f1b9   
FRONTEND_URL = http://localhost:5173